
<div class="col-md-8 offset-md-2">
  <h2 class="text-center pt-3">Edit task</h2>
  <hr>
  <%= simple_form_for @task, url: project_task_url do |f| %>
    <% if @task.errors.any? %>
      <% @task.errors.full_messages.each do |msg| %>
        <div class="alert alert-danger"><%= msg %></div>
      <% end %>
    <% end %>

    <%= f.input :title, wrapper_html: {class: "form-group"} %>
    <%= f.input :description, :as => :text, :input_html => { 'rows' => 5, 'cols' => 10 },
                wrapper_html: {class: "form-group"}  %>
    <% unless @available_statuses.empty? %>
      <%=  f.input :status, :as => :select, collection: @available_statuses,
                   include_blank: false, wrapper_html: {class: "form-group"} %>
    <% end %>
    <%=  f.association :assignee, label: "Assignee", include_blank: false, label_method: :get_full_name,
                        wrapper_html: {class: "form-group"}   %>
    <%= f.button :submit, class: "btn btn-success btn-lg" %>
    <%=  link_to 'Cancel', project_path(@project), class: 'btn btn-outline-success btn-lg' %>
    <%= link_to 'Delete', project_task_url, method: :delete, class: 'btn btn-danger btn-lg', data: {confirm: 'delete it?'} %>
  <% end %>
</div>
