<h1><%= @project.name %></h1>
<div class="row">
  <div class="col-md-6">
    <%= @project.summary %>
  </div>
  <div class="col-md-6">
    <h4>
      from <i><%= @project.start_date %></i>
      to <i><%= @project.end_date %></i>
    </h4>
  </div>
</div>
<div class="col-md-4">
  <%= link_to 'Edit project', edit_project_path(@project), class: 'btn btn-block btn-primary' if current_user.admin?%>
</div>
<hr>

<table class="table text-center">
  <thead class="thead-dark">
    <tr>
      <th>Title</th>
      <th>Status</th>
      <th>User</th>
      <th>...</th>
    </tr>
  </thead>
  <tbody>
  <% @project.tasks.each do |task| %>
    <tr>
      <th scope="row"><%= task.title %></th>
      <td><%= task.status %></td>
      <td><i><%= task.assignee.first_name + " " + task.assignee.last_name %></i></td>
      <td>
        <%= link_to 'Show', project_task_path(@project.id, task.id), class: 'btn btn-sm btn-outline-secondary' %>
        <%= link_to 'Edit', edit_project_task_path(@project.id, task.id), class: 'btn btn-sm btn-outline-secondary' if current_user.admin?%>
        <%= link_to 'Delete', project_task_url(@project.id, task.id), method: :delete, class: 'btn btn-sm btn-outline-secondary', data: {confirm: 'delete it?'} if current_user.admin?%>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= link_to 'Add new task', new_project_task_path(@project), class: 'btn btn-primary float-right' if current_user.admin?%>
